html {
    box-sizing: border-box;
}

#ancestor {
    background-color: rgb(186, 186, 188);
    text-align: center;
    font-family: Georgia, Arial, sans-serif;
}

ol,
ul {
    position:relative;
    display: inline-block;
    text-align: left;
    margin: auto;
    padding: 0;
}

ol {
    margin-bottom: 25px;
}

ol li {
    padding-bottom: 20px;
}

ol p{
    font-weight: bold;
    font-size: 28px;
}

ul p {
    font-size: 28px;
    font-weight: bold;
}

img {
    height: auto;
    width: 512px;
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

p,
li {
    font-size: 18px;
}

span,
.index {
    color: rgb(122, 9, 9);
    font-weight: bolder;
    font-style: italic;
}

.flex-container {
    display: flex;
}

.flex-container ol ul {
    flex: 1;
}